@include font-face('MTSSans', '/assets/fonts/mts-sans-regular', 400);
@include font-face('MTSSans', '/assets/fonts/mts-sans-medium', 500);
@include font-face('MTSSans', '/assets/fonts/mts-sans-bold', 700);


html {
  font-family: $g-font-family-base;
  font-size: $g-font-size-base;
  line-height: $g-line-height-base;
  font-weight: $g-font-weight-base;
  color: $g-color-deep-blue;
}

ul {
  list-style: none;
}

button {
  outline: none;
}
