
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  outline: none;
}

input {
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
}
