.nav-el {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 16px;
  background-color: $g-color-white;
  border: 1px solid $g-color-link-water;
  cursor: pointer;
  path {
    fill: $g-color-nav-el
  }
  &_prev {
    right: 44px;
  }
  &_next {
    right: 0;
  }
}


@media (min-width: $g-brakpoint-desktop) {
  .nav-el {
    transition: $g-transition;
    &:hover {
      border-color: transparent;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    }
  }
}
