.section {
  & + * {
    margin-top: 60px;
  }
  &_theme {
    &_smoke {
      background-color: $g-color-white-smoke;
    }
  }
}

@media (min-width: $g-brakpoint-tablet) {
  .section {
    & + * {
      margin-top: 100px;
    }
  }
}
